[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-bootstrap-form = "*"
gunicorn = "*"
"beautifulsoup4" = "*"
"psycopg2-binary" = "*"
requests = "*"


[dev-packages]

ipython = "==7.16.3"
