{% extends "base.html" %}

{% block title %}Shiny{% endblock %}
{% block navbar_shiny %}active{% endblock %}

{# https://stackoverflow.com/questions/39714619/proxy-redirecting-websockets-and-http-to-the-same-unix-socket #}
{# https://blog.heroku.com/in_deep_with_django_channels_the_future_of_real_time_apps_in_django #}
{# https://realpython.com/blog/python/getting-started-with-django-channels/ #}

{% block content %}
  <script>
    {# https://github.com/gorhill/uBO-Extra/pull/4 #}
    {# https://stackoverflow.com/questions/10418644/creating-an-iframe-with-given-html-dynamically#10433550 #}

    $(document).ready(function () {

      $.getJSON('{% url "shiny_contents" %}', function (data) {

        var iframe = document.createElement("iframe");
        $('#content').append(iframe);

        iframe.contentWindow.document.open();
        iframe.contentWindow.document.write(data.html_contents);
        iframe.contentWindow.document.close();

        // Attempt circumvention
        if (iframe.contentWindow.WebSocket)
            WebSocket = iframe.contentWindow.WebSocket;
      });

    });

  </script>
{% endblock %}
